%h1 Bryan Vu


#links
  %a(href="http://www.linkedin.com/in/bryanvu")LinkedIn
  %br
  %a(href="http://www.facebook.com/bryanvu")Facebook
  %br
  %a(href="http://profiles.google.com/bryanvu")Google+
  %br
  %a(href="http://www.twitter.com/bvu")Twitter

#picture
  %img(src="/assets/bryan_lilly.jpg")

%br
%br